/*Pernille Deijlen
10747354
style for scatter plot*/

body
{
  font: "Times New Roman";
}

.label
{
    font: "Times New Roman";
}

.axis path,
.axis line
{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}